{% extends "Clientes.html" %}

{% block titulo %} Cambios al Cliente  {% endblock titulo %}
{%block Cambios%}active{%endblock Cambios%}
{% block contenidoClientes %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
  <form method = "post"> {% csrf_token %}
	{{ formulario.as_p }}
	<input type="submit" value = "Aceptar Cambio" class="btn btn-info">
	<a href = "/Clientes_Cambio" class ="btn"> Regresar</a>

<div>  
    <div id="example" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
  <h3>Buscar Cliente Producto</h3>  
</div>  <div class="modal-body">  
  Nombre:<br><input type="text" name="Nombre"><br>
  Apellido:<br><input type="text" name="Apellido"><br>
  RFC:<br><input type="text" name="RFC"><br>
   <table class = "table table-striped">
  <thead>
    <tr>
      <th>RFC</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Estado-Ciudad</th>
      <th>Calle</th>
      <th></th>
    </tr>
  </thead>
<tbody>
</tbody>
</table>               
</div>  
<div class="modal-footer">  
  <a href="#" class="btn btn-success" data-dismiss="alert">Seleccionar Cliente</a>  
  <a href="#" class="btn" data-dismiss="modal">Cerrar</a>  
</div>  
</div>  
  <a data-toggle="modal" href="#example" class="btn btn-info">Buscar Cliente</a>
</div>
</div>
</form>
 </div>
{% endblock contenidoClientes %}