{% extends "Clientes.html" %}

{% block titulo %} Baja de Cliente  {% endblock titulo %}
{%block Bajas%}active{%endblock Bajas%}
{% block contenidoClientes %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
  <form method = "post"> {% csrf_token %}
	<!--{{ formulario.as_p }}-->
	{% for field in formulario %}
		<div>
			{{field.errors}}
			<table>
				<col width="120">
				<col width="300">
				
				<td>{{field.label}} :</td>
				<td>{{field}}</td>
				 
			</table>
		</div>
	{% endfor %}

	<input type="submit" value = "Borrar" class="btn btn-danger">
	<a href = "/Seleccionar_ClienteBaja" class ="btn">Regresar</a>
</form>
 </div>
{% endblock contenidoClientes %}