{% extends "Base.html" %}

{% block titulo %} Clientes  {% endblock titulo %}
{%block ClientesActivo%}active{%endblock ClientesActivo%}
{% block contenido %}
<meta charset="utf-8">
<div class="containter" style="margin-left:30px; margin-top:20px" >

           <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
                    font-weight: normal;
                    font-size: 1.4em;
                    letter-spacing: .2em;
                    line-height: 1.1em;
                    margin:0px;
                    text-align: left;
                    ">
          Clientes </h6>
        
          <ul class="nav nav-tabs">
          <li class="{%block Altas%}{%endblock Altas%}">
            <a href="/Clientes_Alta">Altas</a>
          </li>
          <li class="{%block Bajas%}{%endblock Bajas%}">
            <a href="/Clientes_Baja">Bajas</a></li>
          <li class="{%block Cambios%}{%endblock Cambios%}">
            <a href="/Seleccionar_Cliente">Cambios</a></li>

    </ul>
 </div>
 {% block contenidoClientes %}
{% endblock contenidoClientes %}
{% endblock contenido %}
