{% extends "Clientes.html" %}

{% block titulo %} Alta de Cliente  {% endblock titulo %}
{%block Altas%}active{%endblock Altas%}
{% block contenidoClientes %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
  <form method = "post"> {% csrf_token %}
	<!--{{ formulario.as_p }}-->
	{% for field in formulario %}
		<div>
			<table>
				<col width="120">
				<col width="300">
				<tr>{{field.errors}}</tr>
				<tr>
				<td>{{field.label}} :</td>
				<td>{{field}}</td>
				</tr>
				 
			</table>
		</div>
	{% endfor %}
	<input type="submit" value = "Agregar" class="btn btn-primary">
	<a href = "/Clientes_Alta" class ="btn"> Regresar</a>

<a href = "/Agregar_Estado_Ciudad" class ="btn">Agregar Estado o Ciudad</a>
</form>


{% endblock contenidoClientes %}
