{% extends "Base.html" %}
{% block titulo %} Factura  {% endblock titulo %}
{%block FacturacionActivo%}active{%endblock FacturacionActivo%}
{% block contenido %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
          <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
                    font-weight: normal;
                    font-size: 1.4em;
                    letter-spacing: .2em;
                    line-height: 1.1em;
                    margin:0px;
                    text-align: left;
                    ">
          Facturar</h6>
  <br><h4>RFC Cliente: </h4><label id="clienteTextBox" style="font-size:12pt; display:inline-block;">Cliente</label>&nbsp&nbsp&nbsp&nbsp <a href="/Seleccionar_ClienteFacturacion/" class="btn btn-success">Seleccionar cliente</a> 
  <h4>Fecha: </h4>
  <script type="text/javascript">
var currentTime = new Date();
var month = currentTime.getMonth() + 1;
var day = currentTime.getDate();
var year = currentTime.getFullYear();
document.write(day + "/" + month + "/" + year);
var rfc="{{rfc}}";
document.getElementById("clienteTextBox").innerHTML=rfc;
</script>
  <!-- Fecha: <br><input type="text" name="Fecha" value=""><br> -->
<div id="tablita" style="height:400px; overflow-y: scroll;">
  <table class = "table table-striped" id ="TablaFactura">
	 <thead>
		<tr>
      <th>Clave</th>
			<th>Nombre</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th>Total</th>
			<th></th>
		</tr>
	 </thead>
    <tbody>
    </tbody>
  </table>
</div>




    <div id="example" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
  <h3>Seleccionar Producto</h3>  
</div>  
<div class="modal-body">  
  Clave del producto:<br><input type="text" name="Producto" id="claveP"><br>
  Nombre del producto:<br><input type="text" name="Nombre" id="nombreP"><br>
   <table class = "table table-striped" id ="TablaProductos">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
<tbody>
</tbody>
</table>               
</div>  
<div class="modal-footer">  
  <a onClick="link()" class="btn btn-success">Buscar Producto</a>  
  <a href="#" class="btn" data-dismiss="modal">Cerrar</a>  
</div>  
</div>  



    <div id="ModificarCantidad" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
  <h3>Modificar Cantidad</h3>  
</div>  
<div class="modal-body">  
  Cantidad:<br><input type="text" name="Cantidad" id="NuevaCantidad"><br>               
</div>  
<div class="modal-footer">  
  <a onClick="Cantidad()" class="btn btn-success">Cambiar Cantidad</a>  
  <a href="#" class="btn" data-dismiss="modal">Cerrar</a>  
</div>  
</div> 

  <a data-toggle="modal" href="#example" class="btn btn-info">Buscar Producto</a>

<div  style="float: right; margin-right:190px">
  <label style="font-size:16pt; display:inline-block;">Subtotal:</label> <label id="subtotal" style="font-size:20pt; color:green; display:inline-block;">$ 0.00</label><br>
  <label style="font-size:16pt; display:inline-block;">Pago:&nbsp&nbsp&nbsp&nbsp</label><form id="formaPago" style="display:inline-block;"><input pattern="[0-9]+([\.|,][0-9]+)?" type="text" name="Pago" id="pagoTextBox" style="font-size:20pt; color:green; display:inline-block;height:30px"></form><br>



 </div>

<div class="radio" style="float: right; margin-right: 20px">
  <label style="font-size:16pt; display:inline-block;">
    <input type="radio" name="Moneda" id="P" value="P" checked="checked" >
    Pesos
  </label>
  <br>
  <label style="font-size:16pt; display:inline-block;">
    <input type="radio" name="Moneda" id="D" value="D">
    Dolares
  </label>
</div>


<br>
<br>
<a onClick="generarFactura();" class="btn btn-primary">Generar Factura</a>

 </div>

<script>
function generarFactura()
{

  var table=document.getElementById("TablaFactura");
  var rowCount = table.rows.length;
  
  if(rowCount<=1)
  {
    alert("Ingrese productos primero");
    return;
  }
  var forma = document.getElementById("formaPago");
  if(!forma.checkValidity())
  {
    alert("Pago invalido");
    return;
  }
  var arreglo = new Array();
  arreglo[0]="{{id_Cliente}}"; // id cliente
  arreglo[1]=document.getElementById("subtotal").innerHTML; // monto
  var montito = arreglo[1].substring(1);
  var monto = parseFloat(montito);

  if(document.getElementById("pagoTextBox").value == "")
  {
    arreglo[2]="0";
  }
  else
  {
    arreglo[2]=document.getElementById("pagoTextBox").value; // saldo
  }

  if(document.getElementById("P").checked)
  {
    arreglo[3]="P"; //peso 
    var saldo = parseFloat(arreglo[2]);
  }
  else
  {
    arreglo[3]="D"; //dolar
    var saldito = parseFloat(arreglo[2]);
    var dolar = parseFloat("{{Dolar}}");
    var saldo = saldito * dolar;
  }
  if("{{Moroso}}"=="False")
  {
    
  }
  else
  {
    if(saldo<monto)
    {
      alert("Cliente moroso, debe pagar de contado");
      return;
    }
  }
  for(var i=1;i<rowCount;i++)
  {
    var prod=table.rows[i].cells[0].innerHTML;
    var cant=table.rows[i].cells[2].innerHTML;
    var prec=table.rows[i].cells[3].innerHTML;
    arreglo[3*i+1]=prod;
    arreglo[3*i+2]=cant;
    arreglo[3*i+3]=prec;
  }

  window.location.href="/Generar_Factura/"+arreglo;

}
function link()
{

   var element = document.createElement("input");

     //Assign different attributes to the element.
    element.setAttribute("type", "Button");
    element.setAttribute("value", "Seleccionar");
    element.setAttribute("name", "Button");
    element.setAttribute("class", "btn");
    element.setAttribute("onClick","AgregarProducto()")
    var nomP=document.getElementById("nombreP").value;
    var claP=document.getElementById("claveP").value;
    nomP=nomP.toLowerCase();
    claP=claP.toLowerCase();

  var table=document.getElementById("TablaProductos");
  var rowCount = table.rows.length;
  for (var x=rowCount-1; x>0; x--) {
    table.deleteRow(x);
  }
  {% for p in productos %}
  var iii="{{p.Clave_Producto}}".toLowerCase();
  var yyy="{{p.Nombre}}".toLowerCase();
    if (iii.indexOf(claP) != -1 && yyy.indexOf(nomP) != -1)
    {
      var element = document.createElement("input");

       //Assign different attributes to the element.
      element.setAttribute("type", "Button");
      element.setAttribute("value", "Seleccionar");
      element.setAttribute("name", "Button");
      element.setAttribute("class", "btn");
      element.setAttribute("onClick","AgregarProducto('{{p.Clave_Producto}}','{{p.Nombre}}','{{p.Precio}}')");
      var row=table.insertRow(-1);
      var cellClave=row.insertCell(0);
      var cellNombre=row.insertCell(1);
      var cellDescripcion=row.insertCell(2);
      var cellPrecio=row.insertCell(3);
      var cellSeleccionar = row.insertCell(4);
      cellClave.innerHTML="{{p.Clave_Producto}}";
      cellNombre.innerHTML="{{p.Nombre}}";
      cellDescripcion.innerHTML = "{{p.Descripcion}}";
      cellPrecio.innerHTML = "{{p.Precio}}";
      cellSeleccionar.appendChild(element);      
    }
    

    {% empty %}

  {% endfor %}
}
function AgregarProducto(Clave,Nombre,Precio)
{
	var Bandera;
    var Borrar = document.createElement("input");
    var Incrementar = document.createElement("input");
    var Decrementar = document.createElement("input");
    var Modificar = document.createElement("input")
    Borrar.setAttribute("type", "Button");
    Borrar.setAttribute("value", "Borrar");
    Borrar.setAttribute("name", "Button");
    Borrar.setAttribute("class", "btn btn-danger");
    Modificar.setAttribute("type", "Button");
    Modificar.setAttribute("value", "Modificar");
    Modificar.setAttribute("class", "btn");
    Modificar.setAttribute("data-toggle","modal")
    Modificar.setAttribute("onClick","Modi(this)");
    Borrar.setAttribute("onClick","Borrar(this)");
    var tableFactura=document.getElementById("TablaFactura");
    for(var i = 0; i < TablaFactura.rows.length; i++)
    	if(tableFactura.rows[i].cells[0].innerHTML == Clave)
    	{
    		Bandera = true;
    		break;
    	}
    if(Bandera)
    {
    	alert("El producto ya fue agregado a la factura.");
    }
    else{
    var row = tableFactura.insertRow(-1);
    var cellClave=row.insertCell(0);
    var cellNombre=row.insertCell(1);
    var cellCantidad=row.insertCell(2);
    var cellPrecio=row.insertCell(3);
    var cellTotal=row.insertCell(4);
    var cellBotones = row.insertCell(5);
    cellClave.innerHTML = Clave;
    cellNombre.innerHTML = Nombre;
    cellCantidad.innerHTML = (1).toFixed(3);
    var precioJ = parseFloat(Precio);
    cellPrecio.innerHTML = precioJ.toFixed(2);
    cellTotal.innerHTML = precioJ.toFixed(2);
    Modificar.setAttribute("id", Clave);
    cellBotones.appendChild(Modificar);
    cellBotones.appendChild(Borrar);
    actualizarTotal();

    }
    
}
function actualizarTotal()
{
  var l=document.getElementById('TablaFactura').getElementsByTagName('tr').length;
  var tableFactura = document.getElementById("TablaFactura");
  //alert(l);
  var total = 0.0;
  total=parseFloat(total);
  //alert(l);
  for(var i=1;i<l;i++)
  {
    var costo=parseFloat(tableFactura.rows[i].cells[4].innerHTML);
    total = parseFloat(total) + parseFloat(costo);
  }
  document.getElementById("subtotal").innerHTML = "$" + total.toFixed(2);
  //alert(total);

}
var rowCambio = 0;
function Modi (posicion) {
	 var tableFactura=document.getElementById("TablaFactura");
	 var rowIndex = posicion.parentNode.parentNode.rowIndex;
	 rowCambio = rowIndex;
	  $('#ModificarCantidad').modal('show');
	
}
function Cantidad(posicion)
{

  var tableFactura=document.getElementById("TablaFactura");
  var textCambio = document.getElementById("NuevaCantidad");
  if(parseFloat(textCambio.value).toFixed(2) <= 0 || textCambio.value == "")
  {
    alert("La cantidad no es valida.");

  }
  else
  {


  tableFactura.rows[rowCambio].cells[2].innerHTML = parseFloat(textCambio.value).toFixed(2);


  tableFactura.rows[rowCambio].cells[4].innerHTML = (parseFloat(tableFactura.rows[rowCambio].cells[2].innerHTML) *
  parseFloat(tableFactura.rows[rowCambio].cells[3].innerHTML)).toFixed(2);
  $('#ModificarCantidad').modal('hide');
  }
  actualizarTotal();
}
function Borrar(posicion)
{
  var tableFactura=document.getElementById("TablaFactura");
  var rowIndex = posicion.parentNode.parentNode.rowIndex;
  tableFactura.deleteRow(rowIndex);
  actualizarTotal();
}
</script> 
{% endblock contenido %}
