{% extends "Base.html" %}
{% block titulo %} Factura  {% endblock titulo %}
{%block FacturacionActivo%}active{%endblock FacturacionActivo%}
{% block contenido %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
          <h6 style ="font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
                    font-weight: normal;
                    font-size: 1.4em;
                    letter-spacing: .2em;
                    line-height: 1.1em;
                    margin:0px;
                    text-align: left;
                    ">
          Facturar</h6>
  RFC Cliente: <br><input type="text" name="Cliente"><br>
  Fecha: <br><input type="text" name="Fecha" value=""><br>

  <table class = "table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
<tbody>
</tbody>
</table>


    <div id="example" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
  <h3>Seleccionar Producto</h3>  
</div>  
<div class="modal-body">  
  Clave del producto:<br><input type="text" name="Producto"><br>
  Nombre del producto:<br><input type="text" name="Nombre"><br>
   <table class = "table table-striped">
  <thead>
    <tr>
      <th>Clave</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
<tbody>
</tbody>
</table>               
</div>  
<div class="modal-footer">  
  <a href="#" class="btn btn-success">Buscar Producto</a>  
  <a href="#" class="btn" data-dismiss="modal">Cerrar</a>  
</div>  
</div>  
  <a data-toggle="modal" href="#example" class="btn btn-info">Buscar Producto</a>

<div  style="float: right; margin-right:190px" >
  Subtotal: <input type="text" name="Subtotal"><br>
  Pago: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Pago"><br>
 </div>
<br>
<br>
<input type="submit" value = "Generar Factura" class="btn btn-primary">

 </div>
{% endblock contenido %}
