{% extends "Reportes.html" %}

{% block titulo %} Reporte de estado de cuentas  {% endblock titulo %}
{%block ReportesFactura%}active{%endblock ReportesFactura%}
{% block contenidoReportes %}
<head>
<div class="containter" style="margin-left:30px; margin-top:20px" >
<script>
function displayResult(estatus)
{
document.getElementById("result").value=estatus
}
</script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/datetimepicker.js">
</script>

</head>


<body>

<p>Estado de las facturas:</p>
<form>
<input type="radio" name="Seleccion" id="T" value="T" checked="checked">Todas<br>
<input type="radio" name="Seleccion" id="C" value="C">Canceladas<br>
<input type="radio" name="Seleccion" id="P" value="P">Pendientes<br>
<input type="radio" name="Seleccion" id="L" value="L">Liquidadas<br><br>


<br>
Fecha de Inicio:<br>
<input id="FechaInicio" type="text" size="25"><a href="javascript:NewCal('FechaInicio','ddmmyyyy')"><img src="{{STATIC_URL}}img/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a><br>
Fecha Final:<br>
<input id="FechaFinal" type="text" size="25"><a href="javascript:NewCal('FechaFinal','ddmmyyyy')"><img src="{{STATIC_URL}}img/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a><br>
   <table class = "table table-striped">
  <thead>
    <tr>
      <th>Numero de factura</th>
      <th>RFC</th>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Saldo</th>
      <th>Status</th>
      </tr>
  </thead>
<tbody>
    {% for f in Facturas %}
    <tr>
      <td> {{ f.Numero_Factura }} </td>
      <td> {{ f.RFC }}</td>
      <td> {{ f.Fecha_Hora }} </td>
      <td> {{ f.Monto }} </td>
      <td> {{ f.Saldo }} </td>
      <td> {{ f.Estatus }} </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan = "6"> No hay facturas. </td>
    </tr>
  {% endfor %}
</tbody>
</table>    
<a class="btn btn-primary" onClick="link()">Buscar Facturas</a>
</form>
</div>
<script type="text/javascript">
function link()
{

  var FInicio =document.getElementById('FechaInicio').value;
  var FFinal = document.getElementById('FechaFinal').value;
  var clave;
  if(document.getElementById("T").checked)
    clave="T";
  else if(document.getElementById("C").checked)
    clave="C";
    else if(document.getElementById("P").checked)
    clave="P";
    else if(document.getElementById("L").checked)
    clave="L";


  if(!FInicio && !FFinal)
  {
  window.location.href='null+null+null';
  }
  else
  {
  window.location.href=FInicio+'+'+FFinal+'+'+clave;    
  }

}
</script>           
{% endblock contenidoReportes %}