{% extends "Reportes.html" %}
{% block titulo %} Reporte de estado de cuentas  {% endblock titulo %}
{%block ReportesEstado%}active{%endblock ReportesEstado%}
{% block contenidoReportes %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
 <table class = "table table-striped" id= "Facturass">
  <thead>
    <tr>
      <th>Numero de factura</th>
      <th>RFC</th>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Saldo</th>
      <th>Status</th>
      </tr>
  </thead>
<tbody>
    {% for f in Facturas %}
    <tr>
      <td> {{ f.Numero_Factura }} </td>
      <td> {{ f.RFC }}</td>
      <td> {{ f.Fecha_Hora }} </td>
      <td> {{ f.Monto }} </td>
      <td> {{ f.Saldo }} </td>
      <td> {{ f.Estatus }} </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan = "6"> No hay facturas. </td>
    </tr>
  {% endfor %}
</tbody>
</table> 
<br>

<div  style="float: right; margin-right:190px">
  <label style="font-size:16pt; display:inline-block;">Total:</label> <label id="total" style="font-size:20pt; color:red; display:inline-block;">$ 0.00</label><br>

 </div>
 <script type="text/javascript">
  var l=document.getElementById('Facturass').getElementsByTagName('tr').length;
  var tableFactura = document.getElementById("Facturass");
  //alert(l);
  var total = 0.0;
  total=parseFloat(total);
  //alert(l);
  for(var i=1;i<l;i++)
  {
    total+=parseFloat(tableFactura.rows[i].cells[3].innerHTML)-parseFloat(tableFactura.rows[i].cells[4].innerHTML);
  
  }
  document.getElementById("total").innerHTML = "$" + total.toFixed(2);
  </script>


 <br>
 <a href = "/Seleccionar_ClienteReporte" class ="btn">Regresar</a>

<script type="text/javascript">
function link()
{
  var nombre=document.getElementById('nom').value;
  var clave = document.getElementById('clave').value;
  if(!nombre && !clave)
  {
  window.location.href='null+null';
  }
  else
  {
  window.location.href=nombre+'+'+clave;    
  }

}



</script>           
{% endblock contenidoReportes %}