{% extends "Reportes.html" %}
{% block titulo %} Reporte de estado de cuentas  {% endblock titulo %}
{%block ReportesEstado%}active{%endblock ReportesEstado%}
{% block contenidoReportes %}
<div class="containter" style="margin-left:30px; margin-top:20px" >
 <table class = "table table-striped">
  <thead>
    <tr>
      <th>Numero de factura</th>
      <th>RFC</th>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Saldo</th>
      <th>Status</th>
      </tr>
  </thead>
<tbody>
    {% for f in Facturas %}
    <tr>
      <td> {{ f.Numero_Factura }} </td>
      <td> {{ f.RFC }}</td>
      <td> {{ f.Fecha_Hora }} </td>
      <td> {{ f.Monto }} </td>
      <td> {{ f.Saldo }} </td>
      <td> {{ f.Estatus }} </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan = "6"> No hay facturas. </td>
    </tr>
  {% endfor %}
</tbody>
</table> 
<br>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Total</th>
  </thead>
<tbody>
    {% for T in Total %}
    <tr>
      <td> {{ T.Total }} </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan = "1"> No hay facturas. </td>
    </tr>
  {% endfor %}
</tbody>
</table> 
 <br>
 <a href = "/Seleccionar_ClienteReporte" class ="btn">Regresar</a>

<script type="text/javascript">
function link()
{
  var nombre=document.getElementById('nom').value;
  var clave = document.getElementById('clave').value;
  if(!nombre && !clave)
  {
  window.location.href='null+null';
  }
  else
  {
  window.location.href=nombre+'+'+clave;    
  }

}
</script>           
{% endblock contenidoReportes %}